[submodule "01_link_tree"]
	path = 01_link_tree
	url = https://github.com/junyjeon/link_tree.git
[submodule "02_Libft"]
	path = 02_Libft
	url = https://github.com/junyjeon/Libft.git
[submodule "03_get_next_line"]
	path = 03_get_next_line
	url = https://github.com/junyjeon/get_next_line.git
[submodule "04_Born2beroot"]
	path = 04_Born2beroot
	url = https://github.com/junyjeon/Born2beroot.git
[submodule "05_ft_printf"]
	path = 05_ft_printf
	url = https://github.com/junyjeon/ft_printf.git
[submodule "06_push_swap"]
	path = 06_push_swap
	url = https://github.com/junyjeon/push_swap.git
[submodule "07_FdF"]
	path = 07_FdF
	url = https://github.com/junyjeon/FdF.git
[submodule "08_minitalk"]
	path = 08_minitalk
	url = https://github.com/junyjeon/minitalk.git

#git submodule sync
#git submodule update --init --recursive
[submodule "philosophers"]
	path = 09_philosophers
	url = https://github.com/junyjeon/philosophers
[submodule "minishell_jon"]
	path = 10_minishell
	url = https://github.com/junyjeon/minishell_jon.git
